

.App {
  text-align: center;
  background-color: whitesmoke;
  width: 700px;
  text-align: center;
  margin: 200px auto;
  border-radius: 10px;
}


button{
  /* background-color: red; */
  font-size: 30px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  color: antiquewhite;

}

.autor{
  justify-content: end;
}